<% content_for :head do %>
    <title>Faça seu cadastro</title>
    <link rel="stylesheet" href="/assets/questionnaire.css">
<style>
    body, option {
        background-color: #097e74;
    }
    .container {
        margin-top: 2em;
    }
    .header, .div-user {
        display: inline-block;
        width: 100%;
    }
    h1, p {
        font-family: ProximaNovaSoft-Bold;
    }
    h1 {
        color: #d8b212;
        font-size: 6em;
        text-shadow: -.1em 0 #582985;
        transform: rotate(-2deg);
        text-transform: uppercase;
        float: left;
        width: 40%;
    }
    p {
        color: #582985;
        display: block;
        position: relative;
        top: 6em;
        width: 100%;
        left: -4em;
        font-size: 1.2em;
        text-transform: uppercase;
    }
    .form-content {
        width: 100%;
    }
</style>
<% end %>

<% content_for :main do %>
<div class="container">
   <div class="header">
    <h1>Crie sua conta</h1>
    <p>Informe a cidade em que você vota. Se quiser receber mais informações sobre a campanha, deixe também seu nome, e-mail, e número de celular</p>
   </div>
    <div class="form-content">
        <% 
            erros = flash[:erros];
            if erros != nil 
        %>
        <div class="erros">
            <span>Erros:</span>
            <ul>
                <% for k in erros.keys do %>
                    <li><%= erros[k]  %></li>
                <% end %>
            </ul>
        </div>
        <% end %>
        <div id="div-user form-horizontal">
            <%= form_for @user do |f| %>
                <div class="form-group">
                    <%= f.label :name, {class: "col-sm-2 control-label"} %>
                    <div class="col-sm-10">
                        <%= f.text_field :name, {class: "form-control"} %>
                    </div>
                </div>
                <div class="form-group">
                    <%= f.label :email, "Email", {class: "col-sm-2 control-label"} %>
                    <div class="col-sm-10">
                        <%= f.text_field :email, {class: "form-control col-sm-10"} %>
                    </div>
                </div>
                <div class="form-group">
                    <%= f.label :city_id, "Cidade em que vota *", {class: "col-sm-2 control-label"} %>
                    <div class="col-sm-10">
                        <%= f.select :city_id, @cities, {},  {class: "form-control col-sm-10"} %>
                    </div>
                </div>
                <div class="form-group">
                    <%= f.label :mobile_phone, "Celular", {class: "col-sm-2 control-label"} %>
                    <div class="col-sm-10">
                        <%= f.text_field :mobile_phone, {class: "form-control col-sm-10", pattern: "\\d{8,11}"} %>
                    </div>
                </div>
                <%= f.hidden_field :candidate_id %>
                <%= f.hidden_field :picture %>
                <div class="buttons">
                    <%= f.submit "E ai, vamos lá? Faça o seu questionário!", {class: "btn btn-save"} %>                
                </div>
            <% end %>
        </div>
    </div>    
</div>
<% end %>