<!doctype html>
<style>
.form-content {
  margin-top: 2em;
  padding: 2em;
  width: 50%;
  margin: 0 auto;
  background-color: white;
}
#candidato {
  display: none;
}
#candidato ~ div {
  margin-top: 2em;
}
#candidato + label:before {
  content: "Sou ";
}
#candidato:checked + label:before {
  content: "Não sou ";
}
#candidato ~ #div-candidato {
  display: none;
}
#candidato ~ #div-user {
  display: block;
}
#candidato:checked ~ #div-candidato {
  display: block;
}
#candidato:checked ~ #div-user {
  display: none;
}
.form-input-label {
	display: block;
}
.form-input {
	width: 95%;
}
.form-input:invalid {
	box-shadow: 0 0 1px 1px red;
}
</style>
<div class="form-content">
	<input type="checkbox" id="candidato">
	<label for="candidato" class="btn">candidato</label>
	<div id="div-user">
		<%= form_for @user do |f| %>
			<label for="cidade">Município para a eleição:</label>
			<input name="cidade" id="cidades"></input>
			<button type="button">Enviar</button>
		<% end %>
	</div>
	<div id="div-candidato">
		<%= form_for @candidate do |f| %>
			<%= f.label :name, "Nome (*):", {class: "form-input-label"} %>
			<%= f.text_field :name, {class: "form-input", required:"required"} %>
			<%= f.label :nickname, "Apelido:", {class: "form-input-label"} %>
			<%= f.text_field :nickname, {class: "form-input"} %>
			<%= f.label :number, "Número (*):", {class: "form-input-label"} %>
			<%= f.text_field :number, {class: "form-input", required:"required"} %>
			<%= f.label :party_id, "Partido (*):", {class: "form-input-label"} %>
			<%= f.select :party_id, Party.all.collect { |p| [ p.number, p.id ] },{} ,{class: "form-input", required:"required"} %>
			<div class="sexo">
				<label class="form-input-label">Sexo:</label>
				<label>
					<%= radio_button("candidate", "male", "0") %>
					Feminino
				</label>
				<label>
					<%= radio_button("candidate", "male", "1") %>
					Masculino
				</label>
			</div>
			<%= f.label :born_at, "Nascimento (**):", {class: "form-input-label"} %>
			<%= f.date_select :born_at %>
			<%= f.label :bio, {class: "form-input-label"} %>
			<%= f.text_area :bio, {class: "form-input"} %>
			<%= f.label :email, "Email:", {class: "form-input-label"} %>
			<%= f.text_field :email, {class: "form-input"} %>
			<%= f.label :mobile_phone, "Celular:", {class: "form-input-label"} %>
			<%= f.text_field :mobile_phone, {class: "form-input"} %>
			<input name="f_code" value="<%= @user.id %>" >
			<%= f.hidden_field :finished_at %>
			<%= f.hidden_field :group_id %>
			<%= f.hidden_field :short_url %>
  <!-- politician boolean, -->
			<%= f.label :occupation, "Ocupação:", {class: "form-input-label"} %>
			<%= f.text_field :occupation, {class: "form-input"} %>
			<%= f.label :scholarity, "Escolaridade:", {class: "form-input-label"} %>
			<%= f.text_field :scholarity, {class: "form-input"} %>
			<%= f.label :cpf, "CPF (**):", {class: "form-input-label"} %>
			<%= f.text_field :cpf, {class: "form-input", required: "required"} %>
			<%= f.label :electoral_title, "Título Eleitoral (**):", {class: "form-input-label"} %>
			<%= f.text_field :electoral_title, {class: "form-input", required: "required"} %>
			<%= f.label :city_id, "Cidade:", {class: "form-input-label"} %>
			<%= f.select :city_id, @cities, {}, {class: "form-input"} %>	
			<%= f.submit %>
		<% end %>
	</div>
</div>
