%section.join
  %header
    %span.elections Eleições Municipais 2012
    %h1 Verdade ou Consequência?
    %span.headline O carioca pergunta e os candidatos respondem!
  %section.ask
    = image_tag "candidate_and_voter.gif", :title => "Verdade ou Consequência?"
    %section.form
      %p
        Lembra como era bom jogar Verdade ou Consequência?
      %p
        Agora, você pode jogar com os candidatos a vereador!

      %fieldset
        %h2 O jogo já vai começar
        %span
          Cadastre seu email e seja um dos primeiros a
          contribuir com nosso questionário coletivo.
        = form_for @user do |f|
          %label
            = f.text_field :email, :placeholder => "E-mail"
          = f.submit "Enviar", :class => "button_submit"

      .share.tweet= link_to "Tweet", "https://twitter.com/share", :class => "twitter-share-button"
      .share.fb-like{:data => {:send => false, :layout => :button_count, :width => 200, :"show-faces" => true }}
  %section.about
    %p
      E se interagir com os nossos políticos fosse tão legal quanto
      uma rodada de verdade ou consequência com os amigos? E se a gente
      pudesse simplesmente virar para os candidatos, fazer as perguntas
      mais relevantes e exigir compromisso com causas importantes de verdade?
      Na TV, no rádio e na internet, tudo o que a gente vê sobre as eleições
      municipais só nos deixa mais confusos.
      Mas aqui é diferente: o jogo é nosso e o papo é reto.

%section.how
  %header
    %h2 Como funciona?
  %section
    = image_tag "steps_to_participate.gif", :title => "Passo-a-passo de como funciona!"
  %section
    %article
      Pense em uma pergunta ou uma exigência para fazer
      aos candidatos e mande para o Verdade ou Consequência.
      As sugestões mais votadas entram no questionário coletivo,
      então convide seus amigos para participarem do jogo.
    %article.middle
      Nosso papel como eleitores é de enviar o questionário do
      Verdade ou Consequência para os candidatos.
      Quanto mais pessoas enviarem, mais pressão faremos e mais
      fácil vai ficar pra gente comparar os candidatos
    %article
      Agora é a sua vez de responder ao questionário!
      Depois disso você vai poder comparar as respostas dos candidatos
      com as suas e encontrar os que mais combinam com você.

%section.why
  %header
    %h2 O que você ganha?
  %section.sections
    %section.voter
      = image_tag "voter.gif"
      %article
        %h3 Se você é um eleitor
        %p
          O questionário coletivo vai te ajudar a escolher
          o seu Vereador ideal e te mostrar quem são os outros
          candidatos que ele pode levar para a Câmara se for eleito.
          Pode deixar a cola em case porque depois do Verdade ou
          Consequência o seu voto vai estar na ponta do dedo.
    %section.candidate
      = image_tag "candidate.gif"
      %article
        %h3 Se você é um candidato a vereador
        %p
          Os eleitores que jogam Verdade ou Consequência são uma galera
          conectada, que compartilha tudo o tempo todo. Aqui não tem censura
          e você pode falar o que quiser. Se você mandar bem, pode ter certeza
          que vai ficar popular na internet e pode até ser eleito!



