%section.join
  %header
    %h2 Eleições Municipais 2012
    %h1 Verdade ou Consequência?
    %span.headline O carioca pergunta e os candidatos respondem!
  %section.ask
    = image_tag ""
    %section.form
      %p
        Nós já giramos a garrafa, agora cabe a você fazer as
        perguntas para os candidatos!
      %fieldset
        %h2 Participe
        %h4 Seja um dos primeiros a questionar os vereadores!
        = form_for @user do |f|
          %label
            = f.text_field :email, :placeholder => "E-mail"
          = f.submit "Enviar", :class => "button_submit"

%section.how
  %header
    %h2 Como funciona?
  %section
    = image_tag ""
  %section
    %article
      Mande pra gente aquela pergunta que você sempre
      quis fazer para um candidato a Vereador. As perguntas
      mais votadas entram para um questionário coletivo.
    %article.middle
      O seu papel agora é enviar o questionário coletivo
      para o email de algum Vereador. Vamos ficar em cima
      para que todos respondam
    %article
      Agora é a sua vez de responder ao questionário, comparar
      as suas respostas com as dos candidatos e encontrar os
      que melhor correspondem aos seus interesses
%section.why
  %header
    %h2 O que você ganha?
  %section.sections
    %section.voter
      = image_tag ""
      %article
        %h3 Se você é um eleitor
        %p
          A garrafa vai te ajudar a escolher o seu Vereador ideal
          e te mostrar quem são os outros candidatos que ele pode
          levar para a Câmara se for eleito.
          Pode deixar a cola em casa porque depois do Jogo da Garrafa
          o seu voto estará na ponta do dedo!
    %section.candidate
      = image_tag ""
      %article
        %h3 Se você é um candidato
        %p
          Quem joga o Jogo da Garrafa é uma galera conectada, que
          compartilha tudo - o tempo todo. Eles perguntam e você
          responde, sem limite de tempo pra você falar das suas
          propostas para a Câmara. Se você mandar bem, pode ter
          certeza que vai ficar popular na internet e até ser
          eleito!

        %span Você é candidato e quer participar?
        %a Mande um e-mail pra gente!


