<% content_for :head do %>
<style>
    body {
        background-color: #582985;
        background-image: url("/assets/FE3.png");
    }
    .voto img {
        width: 2em;
    }
    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 4px;
        color: #582985;
        font-weight: bolder;
    }
    .conteudo {
        margin: 2em 0;
    }
    h1 {
        color: #d8b212;
        text-transform: uppercase;
        font-size: 1.5em;
        font-weight: bolder;
        text-align: center;
    }
    p {
        color: #fff;
        margin: 2em 0;
    }
    td a {
        color: #582985;
    }
    td a:hover {
        color: #582985;
        text-decoration: none;
        font-size: 1.2em;
    }
    th {
        background-color: #097e74;
        border: .2em solid #582985;
    }
    td {
        background-color: #097e74;
        padding: 1em;
    }
    .voto, .score {
        text-align: center; 
        width: 10%;
    }
    .candidato {
        width: 100%;
    }
    .btn-2-inv {
        border: 2px solid #d8b212;
        padding: 1.2em;
        margin: auto;
        display: block;
        width: 36ch;
        max-width: 100%;
        text-transform: uppercase;
        font-weight: bolder;
        margin-top: 4em;
    }
    .union {
        color: #ececec;
        font-size: .7em;
        letter-spacing: 0;
    }
    .btn.invisivel {
        display: none;
    }
    @media screen and (min-width: 1200px) {
        th {
            background-color: #097e74;
            border: 1em solid #582985;
            padding: 1em;
        }
        label {
            display: block;
            font-size: .8em;
        }
    }
</style>
<% end %>

<% content_for :menu do %>
    <li><a href="<%= new_answer_path %>" class="dropdown-item">Refazer questionário</a></li>
<% end %>

<% content_for :main do %>
    <div class="container">
        <div class="conteudo">
            <h1>Esses são os candidatos que mais combinam com seu perfil</h1>
            <p>Aqui estão os candidatas e os candidatos que têm a ver com você! Eles estão organizados de acordo com  seus posicionamentos pessoais, mas também de acordo com o compromisso de seus partidos e coligações com os direitos humanos.</p>
            <p>Nas eleições, você terá direito a apenas um voto para vereados, então escolha com cuidado com quem vai votar. E, se possível, escolha votar em uma mulher! Assim você vai contribuir para a igualdade de gênero na Câmara Municipal de sua cidades.</p>
            
            <table>
                <thead>
                    <tr>
                        <th>Eu voto</th>
                        <th>Candidatos</th>
                        <th>Afinidade</th>
                    </tr>
                </thead>
                <tbody id="candidatos">
                    <% @mathing.each do |candidate| %>
                        <tr>
                            <td class="voto">
                                <% if candidate["id"] == @user.candidate_id %>
                                <img src="/assets/c1.svg" alt="Recebe meu voto">
                                <% else %>
                                <img src="/assets/c0.svg" alt="Não receberá meu voto">
                                <% end %>
                            </td>
                            <td class="candidato">
                                <div class="link">
                                    <%= link_to candidate["name"], candidate_path(candidate["id"]) %>
                                </div>
                                <div class="union">
                                    <%=  candidate["union"] ? candidate["union"] : candidate["party_symbol"] %>
                                </div>        
                            </td>
                            <td class="score"><%= @user.percent_care candidate["score"].to_i %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <% if @mathing.size() == 10 %>
            <input type="hidden" id="nextRecord" value="10">
            <button id="btn-mais-cand" type="button" class="btn btn-2-inv">mostrar mais</button>
            <% end %>
        </div>
    </div>
<% end %>

<% content_for :scripts do %>
<script>
    var MatchupCreator = function(match_url, idCandidate){
        var retorno = {
            _url: match_url + ".json"
            , candidateId: idCandidate
            , callForMore: function() {
                var nextRecord = $("#nextRecord");
                $.ajax({
                    url: retorno._url
                    , method: 'get'
                    , dataType: "json"
                    , data: {
                        first: nextRecord.val()
                    }
                    , success: function(data){
                        data.forEach(function(match){
                            var  tr = $("<tr>")
                                , voto = $("<td>", {class: "voto"})
                                , img = $("<img>", {src: (match.id == retorno.candidateId ? "/assets/c1.svg" : "/assets/c0.svg")} )
                                , candidato = $("<td>", {class: "candidato"})
                                , link = $("<div>", {class: "link"})
                                , union = $("<div>", {class: "union"})
                                , a = $("<a>", {href: "/candidates/" + match.id})
                                , score = $("<td>", {class: "score"});
                            a.text(match.name);
                            link.append(a);
                            voto.append(img);
                            union.text(match.union == null?match.party_symbol:match.union);
                            score.text(match.score);
                            
                            candidato.append(link);
                            candidato.append(union);
                            tr.append(voto);
                            tr.append(candidato);
                            tr.append(score);
                            $("#candidatos").append(tr);
                        });
                        nextRecord.val(parseInt(nextRecord.val()) + 10);
                        if (data.length < 10)
                            $('#btn-mais-cand').addClass('invisivel');
                    }
                });
            }
        };
        return retorno;
    };

    (function(){
        var matchupCreator = MatchupCreator("<%= user_matchup_path(@user)%>", <%= @user.candidate_id ? @user.candidate_id : 0 %>);

        $("#btn-mais-cand").on("click", matchupCreator.callForMore);
    })();
</script>
<% end %>