<% content_for :head do %>
<style>
    body {
        background-color: #582985;
        background-image: url("/assets/FE3.png");
    }
    h2 {
        font-family: ProximaNovaSoft-Bold;
        text-transform: uppercase;
        color: #097e74;
        font-size: 1.2em;
        text-align: center;
    }
    .conteudo {
        margin: 2em 0;
        font-family: ProximaNovaSoft-Bold;
    }
    h1 {
        color: #d8b212;
        text-transform: uppercase;
        font-size: 1.5em;
        font-weight: bolder;
        text-align: center;
    }
    p {
        color: #fff;
        margin: 2em 0;
    }
    .btn-2 {
        border: 2px solid #d8b212;
        padding: 1em;
        margin: auto;
        display: block;
        width: 36ch;
        max-width: 100%;
        text-transform: uppercase;
        font-weight: bolder;
        margin-top: 4em;
        font-size: 1.2em;
    }
    .btn.invisivel {
        display: none;
    }
    .conteudo a, .conteudo a:hover {
        color: white;
        border-bottom: 1px solid #fff;
        text-decoration: none;
    }
    @media screen and (min-width: 768px) {
        h2 {
            font-size: 1.5em;
        }
    }
    @media screen and (min-width: 1200px) {
        th {
            background-color: #097e74;
            border: 1em solid #582985;
            padding: 1em;
        }
        h2 {
            font-size: 2em;
        }
        label {
            display: block;
            font-size: .8em;
        }
    }
</style>
    <link rel="stylesheet" href="/assets/candidates-match.css">
<% end %>

<% content_for :menu_logged do %>
    <li><%= link_to "Perfil", edit_user_path(session[:user_id]), {class: "dropdown-item"} %>
    <li><%= link_to "Refazer questionário", new_answer_path, {class: "dropdown-item"} %>
<% end %>

<% content_for :main do %>
    <div class="container">
        <div class="conteudo">
            <h1>Esses são as candidatas e os candidatos que mais combinam com você!</h1>
            <p>Navegue e descubra um pouco mais sobre as candidaturas, coligações e sobre quem você poderá ajudar a eleger ao definir seu voto. Os candidatos aparecem ordenados segundo suas respostas e a avaliação dos partidos que compõem a sua coligação. <a href="<%= criteria_path %>">Saiba mais</a>.</p>
            <p>Na dúvida, prefira uma mulher e contribua para a igualdade de gênero na Câmara Municipal de sua cidade!</p>

            <%= render partial: "candidatos" %>

            <% if @matdata.size() > 0 %>
            <button id="btn-mais-cand" type="button" class="btn btn-2">mostrar mais</button>
            <% end %>
        </div>
    </div>
<% end %>

<% content_for :scripts do %>
<script>

    var CandidateDateGetter = function(match_url, candidatesPath, candidates, noMoreDataCallback){
        var retorno = {
            _url: match_url + ".json"
            , _candidates: candidates
            , _searching: false
            , callForMore: function() {
                if (retorno._searching) return;
                var nextList = retorno._candidates.slice(0,6);
                retorno._candidates = retorno._candidates.slice(6,retorno._candidates.length);
                retorno._searching =  true;
                $.ajax({
                    url: retorno._url
                    , method: 'get'
                    , dataType: "json"
                    , data: {
                        list: nextList
                    }
                    , error: function(data) {
                        retorno._searching = false;
                        alert("Erro ao buscar dados do servidor. Por favor, tente novamente ou recarregue a página");
                    }
                    , success: function(data){
                        var divGrupo = $("div.candidatos");
                        data.forEach(function(match){
                            var   link  = $("<a>", {href: candidatesPath +'/'+ match["id"] })
                                , divCand = $("<div>", {class: 'candidato'})
                                , imgCand = $("<img>", {class: 'can-pic', src: match['picture'] + "?type=large", alt:"Foto do candidato"})
                                , nickname = $("<span>", {class: 'info-text name'})
                                , candNumber = $("<span>", {class: 'info-text number'})
                                , number = $("<span>", {class: 'candidate-number'})
                                , party = $("<span>", {class: 'info-text party'}) 
                                , contagem = $("<span>", {class: 'info-text contagem'}) 
                                , img = $("<img>", {src: (match.id == retorno.candidateId ? "/assets/c1.svg" : "/assets/c0.svg")} );

                            number.text(match['number']);
                            contagem.text(match['vote_intension'] + ' intenções de voto');

                            candNumber.text("nº ");
                            candNumber.append(number);

                            nickname.text(match['nickname']);

                            if (match['union'] == null)
                                party.text('Partido: ' + match['party_symbol']);    
                            else
                                party.text('Coligação: ' + match['union']);    

                            link.append(imgCand);
                            divCand.append(link);
                            divCand.append(nickname);
                            divCand.append(candNumber);
                            divCand.append(party);
                            divCand.append(contagem);


                            divGrupo.append(divCand);

                            retorno._candidates.slice(retorno._candidates.findIndex(function(x){
                                return x == match["id"];
                            }))
                        });
                        if (retorno._candidates.length == 0)
                            noMoreDataCallback();
                        retorno._searching = false;
                    }
                });
            }
        };
        return retorno;

    };

    var candidateMatchList = [<%= @matdata.map{|m| m[:id] }.reduce{|t, o| "#{t}, #{o}"} %>];
    var botaoBuscaCand = $("#btn-mais-cand");

    (function(){
        var candidateDateGetter = CandidateDateGetter("<%= candidates_matchup_data_path %>", "<%= candidates_path %>", candidateMatchList, function() { botaoBuscaCand.addClass("invisivel"); } );

        $("#btn-mais-cand").on("click", candidateDateGetter.callForMore);
    })();
</script>
<% end %>