<% content_for :head do %>
<style>
    body {
        background-color: #582985;
        background-image: url("/assets/FE3.png");
    }
    .conteudo {
        margin: 2em 0;
        font-family: ProximaNovaSoft-Bold;
    }
    h1 {
        color: #d8b212;
        text-transform: uppercase;
        font-size: 1.5em;
        font-weight: bolder;
        text-align: center;
    }
    p {
        color: #fff;
        margin: 2em 0;
    }
    .btn-2 {
        border: 2px solid #d8b212;
        padding: 1em;
        margin: auto;
        display: block;
        width: 36ch;
        max-width: 100%;
        text-transform: uppercase;
        font-weight: bolder;
        margin-top: 4em;
        font-size: 1.2em;
    }
    .btn.invisivel {
        display: none;
    }
    .candidatos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .candidato {
        background-color: #097e74;
        display: inline-block;
        width: 300px;
        margin: 1em;
        padding: 1.5em;
    }
    .can-pic {
        display: block;
        margin: 0 auto 1em auto;
        width: 150px;
        border-radius: 50%;
    }
    .info-text {
        text-transform: uppercase;
        color: #fff;
        display: block;
        text-align: center;
    }
    .info-text.name {
        font-weight: bolder;
    }
    .candidate-number {
        font-size: 3em;
    }
    .info-text.party, .info-text.contagem {
        color: #d8b212;
    }
    @media screen and (min-width: 1200px) {
        th {
            background-color: #097e74;
            border: 1em solid #582985;
            padding: 1em;
        }
        label {
            display: block;
            font-size: .8em;
        }
    }
</style>
<% end %>

<% content_for :menu do %>
    <li><a href="<%= new_answer_path %>" class="dropdown-item">Refazer questionário</a></li>
<% end %>

<% content_for :main do %>
    <div class="container">
        <div class="conteudo">
            <h1>Esses são os candidatos que mais combinam com seu perfil</h1>
            <p>Aqui estão os candidatas e os candidatos que têm a ver com você! Eles estão organizados de acordo com  seus posicionamentos pessoais, mas também de acordo com o compromisso de seus partidos e coligações com os direitos humanos.</p>
            <p>Nas eleições, você terá direito a apenas um voto para vereados, então escolha com cuidado com quem vai votar. E, se possível, escolha votar em uma mulher! Assim você vai contribuir para a igualdade de gênero na Câmara Municipal de sua cidades.</p>

            <% p @matching %>
            <div class="candidatos">
                <% @matching.each do |match| %>
                    <div class="candidato">
                        <img class="can-pic" src="<%= match['picture'] %>" alt="Foto do candidato">
                        <span class="info-text name">
                            <%= match['nickname'] %>
                        </span>
                        <span class="info-text number">
                            nº <span class="candidate-number"><%= match['number'] %></span>
                        </span>
                        <span class="info-text party">
                            <% if match['union'] %>
                                Coligação: <%= match['union'] %>
                            <% else %>
                                Partido: <%= match['party_symbol'] %>
                            <% end %>
                        </span>
                        <span class="info-text contagem">
                            <%= match['contagem'] %> intenções de voto
                        </span>                        
                    </div>
                <% end %>
            </div>

            <% if @matching.size() == 6 %>
            <input type="hidden" id="nextRecord" value="6">
            <button id="btn-mais-cand" type="button" class="btn btn-2">mostrar mais</button>
            <% end %>
        </div>
    </div>
<% end %>

<% content_for :scripts do %>
<script>
    var MatchupCreator = function(match_url, idCandidate){
        var retorno = {
            _url: match_url + ".json"
            , candidateId: idCandidate
            , callForMore: function() {
                var nextRecord = $("#nextRecord");
                $.ajax({
                    url: retorno._url
                    , method: 'get'
                    , dataType: "json"
                    , data: {
                        first: nextRecord.val()
                    }
                    , success: function(data){
                        var divGrupo = $("div.candidatos");
                        data.forEach(function(match){
                            var  divCand = $("<div>", {class: 'candidato'})
                                , imgCand = $("<img>", {class: 'can-pic', src: match['picture'], alt:"Foto do candidato"})
                                , nickname = $("<span>", {class: 'info-text name'})
                                , candNumber = $("<span>", {class: 'info-text number'})
                                , number = $("<span>", {class: 'candidate-number'})
                                , party = $("<span>", {class: 'info-text party'}) 
                                , contagem = $("<span>", {class: 'info-text contagem'}) 
                                , img = $("<img>", {src: (match.id == retorno.candidateId ? "/assets/c1.svg" : "/assets/c0.svg")} );

                            number.text(match['number']);
                            contagem.text(match['contagem'] + ' intenções de voto');

                            candNumber.text("nº ");
                            candNumber.append(number);

                            nickname.text(match['nickname']);

                            if (match['union'] == null)
                                party.text('Coligação: ' + match['party_symbol']);    
                            else
                                party.text('Partido: ' + match['union']);    


                            divCand.append(imgCand);
                            divCand.append(nickname);
                            divCand.append(candNumber);
                            divCand.append(party);
                            divCand.append(contagem);

                            divGrupo.append(divCand);
                        });
                        nextRecord.val(parseInt(nextRecord.val())+6);
                        if (data.length < 6)
                            $('#btn-mais-cand').addClass('invisivel');
                    }
                });
            }
        };
        return retorno;
    };

    (function(){
        var matchupCreator = MatchupCreator("<%= user_matchup_path(@user)%>", <%= @user.candidate_id ? @user.candidate_id : 0 %>);

        $("#btn-mais-cand").on("click", matchupCreator.callForMore);
    })();
</script>
<% end %>