<% content_for :main do %>
<style>
    body {
        background: #582985;
        background-image: url('/assets/FE3.png');
        color: #fff;
    }
    .container {
        text-transform: uppercase;
        font-weight: bolder;
    }
    h1 {
        text-shadow: -.05em -.02em #885c59;
        font-size: 2.4em;
        color: #00a99d;
        opacity: .6;
        text-align: center;
        font-family: ProximaNovaSoft-Bold;
        transform: rotate(-2deg);
    }
    h2 {
        text-align: justify;
        font-size: 1em;
        font-weight:  bolder;
        margin: 2em 0 1.5em 0;
        color: #d8b212;
    }
    .conteudo {
        margin: 0 auto;
    }
    .question-title:before {
        content: '//';
        padding-right: .5em;
    }
    .question {
        display: flex;
        align-items: center;
        margin-bottom: 2em;
    }
    .btn-1-inv {
        opacity: .8;
        margin: 2em auto;
        display: table;
        width: 40ch;
        max-width: 100%;
        display: block;
    }
    .answer {
        margin-right: .8em;
    }
    .answer input {
        display: none;
    }
    .answer label {
        font-size: 0;
    }
    .answer>input+label:after {
        content: "";
        background-image: url("/assets/cb0.svg");
        background-size: cover;
        width: 1rem;
        height: 1rem;
        display: inline-block;
    }
    .answer>input:checked+label:after {
        background-image: url("/assets/cb1.svg");
    }
    @media screen and (min-width: 500px) {
        h1 {
            font-size: 3.5em;
        }
    }
    @media screen and (min-width: 992px) {
        h1 {
            font-size: 5em;
        }
    }
    @media screen and (min-width: 1200px) {
        h1 {
            font-size: 7em;
        }
        h2 {
            font-size: 1em;
        }
    }
</style>
<% end %>

<% content_for :main do %>
    <div class="container">
        <h1>Questionário</h1>
        <div class="conteudo">
            <h2>Agora é a sua vez de fazer o teste! Faremos a comparação entre a sua resposta e as respostas dos candidatos e candidatas.</h2>
        </div>

        <div class="alert alert-danger invisivel" id="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <div id="msgErro"></div>
        </div>

        <% @current_user.answers.sort{|a,b| a.question_id-b.question_id }.each do |answer| %>
        <div class="question">
            <div class="answer">
                <input type="checkbox" id="question-<%= answer.question_id %>" answer-id="<%= answer.id %>" <%= "checked" if answer.weight == 2 %> >
                <label for="question-<%= answer.question_id %>">Me importo!</label>
            </div>
            <span class="question-title">
                <%= answer.question.text %>
            </span>            
        </div>
        <% end %>
        <%= link_to "Encontrar candidaturas", user_matchup_path(@current_user), {class: "btn btn-1-inv"} %>
    </div>
<% end %>

<% content_for :scripts do %>
<script>
    var UserCall = function(restUrl, tokenName, token) {
        var retorno = {
            _url: restUrl + "/"
            , _tokenName: tokenName
            , _token: token
            , bindElement: function ( elements, event ) {
                $(elements).on(event, function() {
                    checkbox = $(this);
                    checkbox.attr("disabled", "disabled");
                    dados = {
                        weight: checkbox.prop("checked")?2:0
                    }
                    dados[retorno._tokenName] = retorno._token;
                    $("#alert").addClass("invisivel");
                    $.ajax({
                        url: retorno._url + checkbox.attr("answer-id")
                        , contentType: "application/json"
                        , method: "PUT"
                        , data: JSON.stringify (dados)
                        , success: function(dados) {
                            checkbox.removeAttr("disabled");
                        }
                        , error: function(dados) {
                            checkbox.removeAttr("disabled");
                            $("#alert").removeClass("invisivel");
                            var msg;
                            if (dados.status == 0)
                                msg = "Não foi possível completar a operação, erro de comunicação com o site, por favor recarregue a página.";
                            else {
                                msg = "Erro de processamento";
                                checkbox.prop("checked",! checkbox.prop("checked"));
                            }
                            $("#msgErro").text(msg);
                        }
                    });
                });
            }
        };
        return retorno;
    };

    
    (function(){
        var userCall = UserCall( "<%= user_answers_path(@current_user) %>", "<%= request_forgery_protection_token.to_s %>", "<%= form_authenticity_token %>" );

        userCall.bindElement(".answer input", "change");
    })();

</script>
<% end %>