<% content_for :head do %>
<style>
    body {
        background: #097e74;
        background-image: url('/assets/FC3.png');
        color: #fff;
        text-transform: uppercase;
    }
    h1 {
        color: #00a99d;
        font-size: 2em;
        transform: rotate(-3deg);
        margin: 1em 0;
        text-align: center;
        text-shadow: -.05em -.02em #3a497d;
        font-weight: bolder;
    }
    h2 {
        font-size: 1.1em;
        font-weight: bolder;
        color: #582985;
    }
    label {
        width: 23%;
        display: inline-block;
    }
    .opiniao {
        position: relative;
        left: 30%;
    }
    .question {
        margin: 1em 0;
    }
    .resposta {
        display: none;
    }
    .resposta+span:before {
        content: "";
        background-size: contain;
        height: 1px;
        width: 1px;
        background-image: url('/assets/rb20p.svg');
        position: relative;
        padding-right: 1.32em;
        background-repeat: no-repeat;
        display: inline;
    }
    .resposta:checked+span:before {
        background-image: url('/assets/rb21p.svg');
    }
    .btn {
        margin: 0 auto;
        display: table;
        margin-top: 2em;
        font-size: 1em;
    }
    @media screen and (min-width: 400px) {
        main {
            font-size: 1.2em;
        }
    }
    @media screen and (min-width: 600px) {
        main {
            font-size: 2em;
        }
        h1 {
            font-size: 2em;
        }
    }
    @media screen and (min-width: 1000px) {
        h1 {
            font-size: 3em;
        }
    }
    @media screen and (min-width: 1200px) {
        h1 {
            font-size: 4em;
        }
    }
</style>
<% end %>

<% content_for :main do %>


<div class="container">
    <div class="alert alert-danger invisivel" id="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      Não foi possível completar a operação, por favor recarregue a página.
    </div>
    <h1>Questionário</h1>
    <h2>Agora é hora de fazer o teste! Por favor selecione as afirmações que fazem parte das pautas de sua campanha</h2>
    <% @candidate.answers
        .select{|c| c.id !=nil }
        .sort{|a,b| a.id-b.id }
        .each do |a| %>
        <div class="question">
            <span class="question-title">
                <%= a.question.text %>
            </span>
            <div class="opiniao" answer_id="<%= a.id %>">
                <label>
                   <input type="radio" class="resposta" name="short_answer<%= a.id %>" value="Sim" <%= "checked" if a.short_answer == "Sim" %>>
                   <span>Sim</span>
                </label>
                <label>
                   <input type="radio" class="resposta" name="short_answer<%= a.id %>" value="Não" <%= "checked" if a.short_answer == "Não" %>>
                    <span>Não</span>
                </label>
            </div>
        </div>
    <% end %>
    <form action="<%= candidate_finish_path(@candidate) %>" method="post">
        <input type="hidden" name="<%= request_forgery_protection_token.to_s %>" value="<%= form_authenticity_token %>">
        <input name="_method" type="hidden" value="put">
        <button type="submit" class="btn btn-1">SALVAR RESPOSTAS</button>
    </form>
</div>
<% end %>

<% content_for :scripts do %>
<script>
    (function(){
        var toSend = {
            <%= request_forgery_protection_token.to_s %>: "<%= form_authenticity_token %>"
            , candidate_id: <%= @candidate.id %>
        }, url = "<%= candidate_answers_path(@candidate.id) %>/";
        
        let submit = function() {
            var prev = $(this).prev();
            prev.val();
            $(this).parent().parent().submit();
        }
        $("input[type='radio']").on("change", function(){
            toSend["short_answer"] = this.value;
            $.ajax({
                  method: "put"
                , contentType: "application/json"
                , data: JSON.stringify(toSend)
                , url: url + $(this).parent().parent().attr("answer_id")
                , error(data) {
                    $("#alert").removeClass("invisivel");
                }
            })
            ;
        });
    })();
</script>
<% end %>
