<% content_for :head do %>
    <title>Faça seu cadastro</title>
    <link rel="stylesheet" href="/assets/questionnaire.css">
<style>
    body {
        background-color: #582985;
        background-image: url("/assets/FE3.png");
    }
    main {
        color: #fff;
        font-family: ProximaNovaSoft-Bold;
    }
    .btn-3 {
        width: 40ch;
        margin: 0 auto;
        display: block;
        text-transform: uppercase;
    }
    .header, .div-user {
        display: inline-block;
        width: 100%;
    }
    .header {
        margin-bottom: 5em;
    }
    h1 {
        color: #d8b212;
        text-transform: uppercase;
        font-size: 5em;
        text-shadow: -.1em 0 #097e74;
        width: 7em;
        letter-spacing: .2em;
        float: left;
        transform: rotate(-5deg);
    }
    p {
        display: block;
        position: relative;
        top: 5em;
        width: 100%;
        left: -9em;
        font-size: 1em;
        text-transform: uppercase;
    }
    .explicacao {
        font-size: .8em;
        position: initial;
    }
</style>
<% end %>

<% content_for :main do %>
<div class="container">
   <div class="header">
        <h1>Crie sua conta</h1>
        <p>
            Por favor, informe seus dados para criar seu perfil na nossa plataforma:
        </p>
       
   </div>
    <div class="form-content">
        <% 
            erros = flash[:erros];
            if erros != nil 
        %>
        <div class="erros">
            <span>Erros:</span>
            <ul>
                <% for k in erros.keys do %>
                    <li><%= erros[k]  %></li>
                <% end %>
            </ul>
        </div>
        <% end %>
        <%= form_for @candidate do |f| %>
            <div id="form-horizontal">
                <div class="form-group row">
                    <%= f.label :nickname, "Nome de urna *",  {class: "col-sm-2 control-label"} %>
                    <div class="col-sm-10">
                        <%= f.text_field :nickname, {class: "form-control", required: "required"} %>
                    </div>
                </div>
                <div class="form-group row">
                    <%= f.label :born_at, "Data de nascimento *", {class: "col-sm-2 control-label"} %>
                    <div class="col-sm-10">
                        <% if @candidate.born_at %>
                        <%= f.text_field :born_at, {value: @candidate.born_at.strftime("%d/%m/%Y"), class: "form-control date-input", required: "required"} %>
                        <% else %>
                        <%= f.text_field :born_at, {class: "form-control date-input", required: "required"} %>
                        <% end %>
                    </div>
               </div>
                <div class="form-group row">
                    <%= f.label :cpf, "CPF *",  {class: "col-sm-2 control-label"} %>
                    <div class="col-sm-10">
                        <%= f.text_field :cpf, {class: "form-control cpf-input", required: "required"} %>
                    </div>
                </div>
                <div class="form-group row">
                    <%= f.label :party_id, "Partido *", {class: "col-sm-2 control-label", required: "required"} %>
                    <div class="col-sm-10">
                        <%= f.select :party_id, Party.all.sort{|a,b| a.symbol <=> b.symbol }.collect { |p| [ "#{p.symbol} - #{p.number}", p.id ] }, {},  {class: "form-control col-sm-10"} %>
                    </div>
                </div>
                <div class="form-group row">
                    <%= f.label :number, "Número de urna *",  {class: "col-sm-2 control-label"} %>
                    <div class="col-sm-10">
                        <%= f.text_field :number, {class: "form-control", required: "required"} %>
                    </div>
                </div>
                <div class="form-group row">
                    <%= f.label :city_id, "Confirmar município de voto*", {class: "col-sm-2 control-label"} %>
                    <div class="col-sm-10">
                        <%= f.select :city_id, City.order([:name, :state]).map {|c| ["#{c.name}, #{c.state}", c.id]}, {},  {class: "form-control"} %>
                    </div>
                </div>
                <div class="form-group row">
                    <%= f.label :bio, "Escrever mini bio",  {class: "col-sm-2 control-label"} %>
                    <div class="col-sm-10">
                        <%= f.text_area :bio, {class: "form-control"} %>
                    </div>
                </div>
                <p class="explicacao">* Campos obrigatórios.</p>
                <div class="buttons">
                    <%= f.submit (@candidate.finished_at ? "Salvar os dados!" : "E ai, vamos lá? Faça o seu questionário!"), {class: "btn btn-3"} %>                
                </div>
            </div>
        <% end %>
    </div>    
</div>
<% end %>