<% content_for :head do %>
    <title>Faça seu cadastro</title>
    <link rel="stylesheet" href="/assets/questionnaire.css">
<style>
    .btn-save {
        width: 40ch;
    }
</style>
<% end %>

<% content_for :main do %>
<div class="container">
    <h1>Crie sua conta</h1>
    <div class="form-content">
        <% 
            erros = flash[:erros];
            if erros != nil 
        %>
        <div class="erros">
            <span>Erros:</span>
            <ul>
                <% for k in erros.keys do %>
                    <li><%= erros[k]  %></li>
                <% end %>
            </ul>
        </div>
        <% end %>
        <%= form_for @candidate do |f| %>
            <div id="form-horizontal">
                <div class="form-group row">
                    <%= f.label :name, "Nome completo", {class: "col-sm-2 control-label"} %>
                    <div class="col-sm-10">
                        <%= f.text_field :name, {class: "form-control"} %>
                    </div>
                </div>
                <div class="form-group row">
                    <%= f.label :nickname, "Nome de urna",  {class: "col-sm-2 control-label"} %>
                    <div class="col-sm-10">
                        <%= f.text_field :nickname, {class: "form-control"} %>
                    </div>
                </div>
                <div class="form-group row">
                    <%= f.label :born_at, "Data de nascimento", {class: "col-sm-2 control-label"} %>
                    <div class="col-sm-10">
                        <%= f.text_field :born_at, {class: "form-control"} %>
                    </div>
               </div>
                <div class="form-group row">
                    <%= f.label :cpf, "CPF",  {class: "col-sm-2 control-label"} %>
                    <div class="col-sm-10">
                        <%= f.text_field :cpf, {class: "form-control"} %>
                    </div>
                </div>
                <div class="form-group row">
                    <%= f.label :party_id, "Partido", {class: "col-sm-2 control-label"} %>
                    <div class="col-sm-10">
                        <%= f.select :party_id, Party.all.sort{|a,b| a.symbol <=> b.symbol }.collect { |p| [ "#{p.symbol} - #{p.number}", p.id ] }, {},  {class: "form-control col-sm-10"} %>
                    </div>
                </div>
                <div class="form-group row">
                    <%= f.label :number, "Número de urna",  {class: "col-sm-2 control-label"} %>
                    <div class="col-sm-10">
                        <%= f.text_field :number, {class: "form-control"} %>
                    </div>
                </div>
                <div class="form-group row">
                    <%= f.label :city_id, "Confirmar município de voto", {class: "col-sm-2 control-label"} %>
                    <div class="col-sm-10">
                        <%= f.select :city_id, City.order([:name, :state]).map {|c| ["#{c.name}, #{c.state}", c.id]}, {},  {class: "form-control col-sm-10"} %>
                    </div>
                </div>
                <div class="form-group row">
                    <%= f.label :bio, "Escrever mini bio",  {class: "col-sm-2 control-label"} %>
                    <div class="col-sm-10">
                        <%= f.text_area :bio, {class: "form-control"} %>
                    </div>
                </div>
                <div class="buttons">
                    <%= f.submit (@candidate.finished_at ? "Salvar os dados!" : "E ai, vamos lá? Faça o seu questionário!"), {class: "btn btn-save"} %>                
                </div>
            </div>
        <% end %>
    </div>    
</div>
<% end %>