<% content_for :head do %>
    <title>Faça seu cadastro</title>
    <link rel="stylesheet" href="/assets/questionnaire.css">
    <link rel="stylesheet" href="/assets/jquery-ui.css">
    <link rel="stylesheet" href="/assets/jquery-ui.structure.css">
    <link rel="stylesheet" href="/assets/jquery-ui.theme.css">
<style>
    body {
        background-image: url("/assets/FE3.png");
        background-color: #582985;
    }
    option {
        background-color: #582985;
    }
    main {
        color: #fff;
        font-family: ProximaNovaSoft-Bold;
    }
    .btn-3 {
        width: 40ch;
        margin: 0 auto;
        display: block;
        text-transform: uppercase;
        max-width: 100%;
        white-space: normal;
    }
    h1 {
        color: #d8b212;
        text-transform: uppercase;
        text-shadow: -.1em 0 #097e74;
        font-size: 3em;
        width: 7em;
        letter-spacing: .2em;
        transform: rotate(-5deg);
        margin: 0 auto .5em auto;
    }
    .intro {
        margin-bottom: 2em;
    }
    #busca_cidade, #busca_cidade~input {
        display: none;
    }
    #busca_cidade:checked~input {
        display: block;
    }
    #busca_cidade + label {
        cursor: pointer;
        color: #d8b212;
    }
    .erros, .erro {
        margin: 0;
    }
    @media screen and (min-width: 500px) {
        h1 {    
            font-size: 4em;
        }
        #busca_cidade + label {
            display: inline;
        }
    }
    @media screen and (min-width: 800px) {
        h1 {    
            font-size: 5em;
        }
    }
    @media screen and (min-width: 900px) {
        .header {
            margin-bottom: 5em;
        }
        .header, .div-user {
            display: inline-block;
            width: 100%;
        }
        h1 {
            float: left;
        }
        .intro {
            display: block;
            top: 6em;
            width: 100%;
            left: -10em;
            font-size: 1em;
            text-transform: uppercase;
            position: relative;
        }
        .explicacao {
            font-size: .8em;
            position: initial;
        }
    }
</style>
<% end %>

<% content_for :main do %>
<div class="container">
   <div class="header">
        <h1>Crie sua conta</h1>
        <p class="intro">
            Por favor, informe seus dados para criar seu perfil na nossa plataforma:
        </p>
       
   </div>
    <div class="form-content">
        <%= form_for @candidate do |f| %>
            <% p @candidate %>
            <div id="form-horizontal">
                <% if @candidate.errors[:nickname].count > 0 %>
                <div class="alert alert-danger" role="alert">
                    <ul class="erros">
                        <% @candidate.errors[:nickname].each do |msg| %>
                        <li class="erro"><%= msg %></li>
                        <% end %>
                    </ul>
                </div>
                <% end %>
                <div class="form-group row">
                    <%= f.label :nickname, "Nome de urna *",  {class: "col-md-2 control-label"} %>
                    <div class="col-md-10">
                        <%= f.text_field :nickname, {class: "form-control"} %>
                    </div>
                </div>
            
                <% if @candidate.errors[:email].count > 0 %>
                <div class="alert alert-danger" role="alert">
                    <ul class="erros">
                        <% @candidate.errors[:email].each do |msg| %>
                        <li class="erro"><%= msg %></li>
                        <% end %>
                    </ul>
                </div>
                <% end %>
                <div class="form-group row">
                    <%= f.label :email, "Email *",  {class: "col-md-2 control-label"} %>
                    <div class="col-md-10">
                        <%= f.text_field :email, {class: "form-control"} %>
                    </div>
                </div>

                <% if @candidate.errors[:born_at].count > 0 %>
                <div class="alert alert-danger" role="alert">
                    <ul class="erros">
                        <% @candidate.errors[:born_at].each do |msg| %>
                        <li class="erro"><%= msg %></li>
                        <% end %>
                    </ul>
                </div>
                <% end %>
                <div class="form-group row">
                    <%= f.label :born_at, "Data de nascimento *", {class: "col-md-2 control-label"} %>
                    <div class="col-md-10">
                        <% if @candidate.born_at %>
                        <%= f.text_field :born_at, {value: @candidate.born_at.strftime("%d/%m/%Y"), class: "form-control date-input"} %>
                        <% else %>
                        <%= f.text_field :born_at, {class: "form-control date-input"} %>
                        <% end %>
                    </div>
                </div>

                <% if @candidate.errors[:cpf].count > 0 %>
                <div class="alert alert-danger" role="alert">
                    <ul class="erros">
                        <% @candidate.errors[:cpf].each do |msg| %>
                        <li class="erro"><%= msg %></li>
                        <% end %>
                    </ul>
                </div>
                <% end %>
                <div class="form-group row">
                    <%= f.label :cpf, "CPF *",  {class: "col-md-2 control-label"} %>
                    <div class="col-md-10">
                        <%= f.text_field :cpf, {class: "form-control cpf-input"} %>
                    </div>
                </div>

                <% if @candidate.errors[:party_id].count > 0 %>
                <div class="alert alert-danger" role="alert">
                    <ul class="erros">
                        <% @candidate.errors[:party_id].each do |msg| %>
                        <li class="erro"><%= msg %></li>
                        <% end %>
                    </ul>
                </div>
                <% end %>
                <div class="form-group row">
                    <%= f.label :party_id, "Partido *", {class: "col-md-2 control-label"} %>
                    <div class="col-md-10">
                        <%= f.select :party_id, Party.all.sort{|a,b| a.symbol <=> b.symbol }.collect { |p| [ "#{p.symbol} - #{p.number}", p.id ] }, {},  {class: "form-control col-md-10"} %>
                    </div>
                </div>

                <% if @candidate.errors[:number].count > 0 %>
                <div class="alert alert-danger" role="alert">
                    <ul class="erros">
                        <% @candidate.errors[:number].each do |msg| %>
                        <li class="erro"><%= msg %></li>
                        <% end %>
                    </ul>
                </div>
                <% end %>
                <div class="form-group row">
                    <%= f.label :number, "Número de urna *",  {class: "col-md-2 control-label"} %>
                    <div class="col-md-10">
                        <%= f.text_field :number, {class: "form-control"} %>
                    </div>
                </div>

                <% if @candidate.errors[:city_id].count > 0 %>
                <div class="alert alert-danger" role="alert">
                    <ul class="erros">
                        <% @candidate.errors[:city_id].each do |msg| %>
                        <li class="erro"><%= msg %></li>
                        <% end %>
                    </ul>
                </div>
                <% end %>
                <div class="form-group row ">
                    <%= f.label :city_id, "Confirmar município de voto*", {class: "col-md-2 control-label"} %>
                    <div class="col-md-10">
                        <%= f.hidden_field :city_id %>
                        <span class="city_name" id="city_name"><%= @candidate.city ? @candidate.city.name : "<< Nenhuma cidade selecionada >>"  %></span>
                        <input type="checkbox" id="busca_cidade"> <label for="busca_cidade">Buscar Cidade</label>
                        <input type="text" id="edit_busca_cidade" class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <%= f.label :bio, "Escrever mini bio",  {class: "col-md-2 control-label"} %>
                    <div class="col-lg-10">
                        <%= f.text_area :bio, {class: "form-control"} %>
                    </div>
                </div>
                <p class="explicacao">* Campos obrigatórios.</p>
                <div class="buttons">
                    <%= f.submit (@candidate.finished_at ? "Salvar os dados!" : "E ai, vamos lá? Faça o seu questionário!"), {class: "btn btn-3"} %>                
                </div>
            </div>
        <% end %>
    </div>    
</div>
<% end %>


<% content_for :scripts do %>
  <script src="/assets/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#edit_busca_cidade" ).autocomplete({
      source: function( request, response ) {
        $.ajax({
            url: "/cities?match=" + request.term
            , method: "get"
            , accept: "application/json"
            , success: function( data ) { //data.map(a=>{"label": a[1], "value": a[0]}
                var objetos  = data.map(function(cidade){
                    return {
                        value: cidade[0]
                        , label: cidade[1]
                    };
                });
                response( data.length === 1 && data[ 0 ].length === 0 ? [] : objetos );
            }
        })
      },
      minLength: 2  ,
      select: function( event, ui ) {
        $("#candidate_city_id").val(ui.item.value);
        $("#city_name").text(ui.item.label);
        $("#edit_busca_cidade").val('');
        $("#busca_cidade").prop('checked', false);
        return false;
      }
      , focus: function( event, ui ) {
        event.preventDefault();
        $(event.target).val(ui.item.label);
      }
    } );
  } );
  </script>
<% end %>
