<% content_for :head do %>
    <title>Perfil de Candidato</title>
    <style>
        .container {
            margin-top: 2em;
            margin-bottom: 2em;
        }
        #votar, #votar img {
            background-color: #532985;
            border: none;
            width: 2em;
            height: 2em;
            position: absolute;
            top: .5em;
            right: .5em;
        }
        body {
            background-color: #d8b212;            
        }
        .disclaimer, .legenda h3, .brother a, .btn-2 {
            text-transform: uppercase;
        }
        main {
            font-size: .8em;
            color: #532985;
        }
        main h3 {
            font-size: 2em;
        }
        .info-basica, .info-bio {
            position: relative;
            background-color: #532985;
            color: #fff;
            padding: 1.5em 1.5em .5em 1.5em;
            text-transform: uppercase;
            margin-bottom: 1em;
        }
        .info-text {
            display: block;
        }
        .info-text.name {
            margin-top: 1em;
        }
        .info-text.number {
            margin: 1em 0;
        }
        .candidate-number {
            font-size: 2em;
        }
        .puxar .title, .brother {
            background-color: #532985;
            color: #fff;
        }
        .puxar h2 {
            text-transform: uppercase;
        }
        .can-pic {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
        .votes-int {
            margin-top: 2em;
            color: #d8b212;
            text-align: center;
            display: block;
        }
        .title {
            padding: 1em;
        }
        .brother {
            margin: 1em 0;
            padding: 1.5em;
        }
        .brother a, .partido {
            color: #fff;
            font-size: 1.5em;
        }
        .partido {
            float: right;
        }
        .brother a:hover {
            text-decoration: none;
            font-size: 1.6em;
        }
        .btn-2 {
            border: 2px solid #532985;
            width: 40ch;
            max-width: 100%;
            margin: 2em auto;
            display: block;
        }
        .btn-2:before {
            content: '<';
            margin-right: 1em;
            font-size: 1.5em;
            position: relative;
            top: .1em;
        }
        .votes-int p {
            font-size: .6em;
        }

        .respostas, .puxar {
            margin: 6em 0;
        }
        .brother, .respostas table {
            width: 100%;
            color: #fff;
            border-spacing: .3em;
            border-collapse: separate;
            text-transform: uppercase;
            font-family: ProximaNovaSoft-Bold;
        }
        .respostas td {
            background-color: #532985;
        }
        .pergunta:before {
            content: "//";
            padding-right: .5em;
        }
        .resposta.perigo {
            font-size: 1.1em;
        }
        .otima-resposta {
            color: #71e7dc;
        }        
        .perigo {
            color: #d8b212;
        }
        .pergunta, .resposta {
            padding: .5em;
        }
        .brother .candidato {
            width: 100%;
        }
        .brother .partido {
            text-align: right;
        }
        @media screen and (min-width:500px) {
            main {
                font-size: 1rem;
            }
            .pergunta, .resposta {
                padding: 1em 3em;

            }
        }
        @media screen and (min-width:800px) {
            .can-pic {
                width: 150px;
                height: 150px;
            }
            .flex {
                display: flex;
                margin-bottom: 2em;
            }
            .info-bio {
                font-size: 1.2em;
                margin: 0;
                width: 100%;
            }
            .info-basica {
                font-size: 1.2em;
                width: 40ch;
                margin: 0 3em 0 0;
                box-sizing: border-box;
            }
            .info-basica:after {
                content: '\00a0';
                box-sizing: border-box;
                position: absolute;
                bottom: 5em;
                left: 0;
                width: 69vw;
                max-width: 900px;
                background-color: #532985;
                height: .5em;
                z-index: -1;
            }            
            .avaliacao {
                position: absolute;
                bottom: 1em;
            }
            .avaliacao>span {
                margin-right: 1em;
            }
            .legenda {
                margin-top: 2em;
            }
        }
        @media screen and (min-width:1200px) {
            .puxar h2,.puxar h5 {
                display: inline;
            }
        }
    </style>
<% end %>

<% content_for :menu do %>
    <% if session[:candidate_id] %>
        <li><a href="<%= edit_candidate_path(@current_user.id) %>" class="dropdown-item">Perfil no #MeRepresenta</a></li>
    <% else %>
        <li><a href="<%= new_answer_path %>" class="dropdown-item">Refazer questionário</a></li>
    <% end %>
<% end %>

<% content_for :main do %>
<div class="container">    
    <div class="flex">
        <div class="info-basica">        
            <img class="can-pic" src="<%= @candidate.picture %>" alt="Foto do candidato">
            <span class="info-text name">
                <%= @candidate.nickname %>
            </span>
            <span class="info-text number">
                nº <span class="candidate-number"><%= @candidate.number %></span>
            </span>
            <span class="info-text party">
                Partido: <%= @candidate.party.symbol %>
            </span>
            <span class="votes-int">
                <% if false  %>
                <%= User.where("users.candidate_id = #{@candidate.id}" ).count %> intenções de voto
                <% end %>
                <p>* A partir do dia 15 de setembro, eleitores poderão acessar a plataforma e declarar suas intenções de voto.</p>
            </span>
            <% if ! session[:candidate_id] and  session[:user_id] %>
                <% if @candidate.id == @current_user.candidate_id %>
                    <img src="/assets/c1.svg" alt="Vou votar" id="votar">
                <% else %>
                    <%= form_for @current_user do |f| %>
                        <%= f.hidden_field :candidate_id, value: @candidate.id %>
                        <button type="submit" id="votar">
                            <img src="/assets/c02.svg" alt="Quero votar">
                        </button>
                    <% end %>
                <% end %>
            <% end %>
        </div>
        <div class="info-bio">
            <h3>Sobre mim</h3>
            <%= @candidate.bio %>
        </div>
    </div>
       
    <div class="puxar">
        <div class="title">
            <h3>Quem posso puxar ?</h3>
            <h5>Veja alguns candidatos que podem vir a tomar posse se você votar em mim.</h5>
        </div>

        <% @candidate.gang.each do |brother| %>
        <div class="brother">
            <table>
                <tbody>
                    <tr>
                        <td class="candidato">
                            <%= brother.name %>                            
                        </td>
                        <td class="partido">
                            <%= brother.party.symbol %>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <% end %>
    </div>

    <div class="respostas">
        <h2>Conheça suas respostas ao nosso questionário</h2>

        <table>
            <tbody>
                <% @candidate.answers.sort{|a, b| a.question_id - b.question.id}.each do |answer| %>
                    <%  
                        if session[:user_id]
                            resposta_eleitor = @current_user.answers.select{|a| a.question_id == answer.question_id}
                            classe = ""
                            if resposta_eleitor.count > 0
                                resposta_eleitor = resposta_eleitor[0]
                                if not session[:candidate_id]
                                    if resposta_eleitor.weight > 0 and answer.short_answer == "Sim"
                                        classe = "otima-resposta"
                                    elsif answer.short_answer == "Não"
                                        classe = "perigo"
                                    end
                                end
                            end
                        end
                    %>
                    <tr>
                        <td class="pergunta <%= classe %>"><%= answer.question.text %></td>
                        <td class="resposta <%= classe %>"><%= answer.short_answer %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    
    <% if not session[:candidate_id] and session[:user_id]%>
    <%= link_to "Voltar aos candidatos", url_for(:back) || user_party_candidates(@current_user, @candidate.party), :class => "btn btn-2" %>
    <% end %>
</div>

<% end %>
