<% content_for :open_graph do %>
    <meta name="og:url" content="<%= candidate_url(@candidate) %>">
    <meta name="og:title" content="Eu já encontrei uma candidatura para vereador/a que te representa! E você?">
    <meta name="og:description" content="Encontrei o candidato <%= @candidate.nickname %> (<%= @candidate.number %>) do <%= @candidate.party.symbol%> no site do #MeRepresenta! 'Bora lá?"
<% end %>

<% content_for :head do %>
    <title>Perfil de Candidato</title>
    <style>
        header {
            padding-bottom: .3em;
            border-bottom: 1px solid #532985;
        }
        textarea {
            background-color: #532985;
            border: none;
            height: 80%;
            width: 100%;
            resize: none;
            color: #fff;
        }
        .container {
            margin-top: 2em;
            margin-bottom: 2em;
        }
        #votar {
            border: 3px solid #532985;
            position: relative;
            margin: 0 auto;
            display: block;        
        }
        body {
            background-color: #d8b212;            
        }
        .disclaimer, .legenda h3, .brother a, .btn-2 {
            text-transform: uppercase;
        }
        main {
            font-size: .8em;
            color: #532985;
        }
        main h3 {
            font-size: 2em;
        }
        .info-basica {
            background-color: #532985;
            color: #fff;
            padding: 1.5em 1.5em .5em 1.5em;
            text-transform: uppercase;
            margin-bottom: 1em;
        }
        .bio {
            background-color: #532985;
            color: #fff;
            padding: 1.5em 1.5em .5em 1.5em;
            text-transform: uppercase;
            margin-bottom: 1em;
        }
        .info-text {
            display: block;
        }
        .info-text.name {
            margin-top: 1em;
        }
        .info-text.number {
            margin: 1em 0;
        }
        .info-text.score.perigo {
            color: red;
        }
        .candidate-number {
            font-size: 2em;
        }
        .puxar .title {
                background-color: #532985;
            color: #fff;
        }
        .puxar h2 {
            text-transform: uppercase;
        }
        .can-pic {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin: 0 auto;
            display: block;
        }
        .votes-int {
            color: #d8b212;
            text-align: center;
            display: block;
        }
        .title {
            padding: 1em;
        }
        .brother td {
            background-color: #532985;
            color: #fff;
            padding: 1em;
        }
        .brother {
            margin: 1em 0;
            border-collapse: separate;
            border-spacing: 0 1em;
            width: 100%;
            font-size: 1.2em;
        }
        .partido span {
            display: block;
        }
        .partido {
            text-transform: uppercase;
            text-align: center;
            width: 10ch;
        }
        .nota {
            font-weight: bolder;
            color: #532985;
        }
        .votes-int p {
            font-size: .6em;
        }
        .respostas, .puxar {
            margin: 3em 0;
        }
        .respostas table {
            width: 100%;
            color: #fff;
            border-spacing: .3em;
            border-collapse: separate;
            text-transform: uppercase;
            font-family: ProximaNovaSoft-Bold;
        }
        .respostas td {
            background-color: #532985;
        }
        .resposta.perigo {
            font-size: 1.1em;
        }
        td.perigo {
            color: #532985;
            background-color: pink;
        }
        .pergunta, .resposta {
            padding: .5em;
        }
        .puxar {
            width: 100%;
        }
        main .nav a {
            display: block;
            text-transform: uppercase;
            position: relative;
            margin-bottom: 1em;
        }
        #btn-voltar {
            padding: .6em 0 .8em 0;
        }
        #btn-voltar:before {
            content: "<";
            margin-right: .5em;
            font-size: 1.8em;
            position: relative;
            top: .15em;
        }
        #btn-compartilhar {
            padding: .6em 0 1em 0;
        }
        #btn-compartilhar:before {
            content: "";
            display: inline-block;
            background-image: url('/assets/face2.svg');
            background-size: cover;
            width: 1.5em;
            height: 1.5em;
            position: relative;
            top: .38em;
            margin-right: .5em;

        }
        .nota {
            background-color: #d8b212;
            font-size: .6em;
            padding: .3em;
            border-radius: .4em;
            white-space: nowrap;
        }
        span.info-text.score {
            margin-top: 2em;
            background-color: #d8b212;
            text-align: center;
            color: #532985;
            border-radius: 4px;
            font-size: .8em;
            position: relative;
            bottom: 0px;
        }
        @media screen and (min-width:500px) {
            main {
                font-size: 1rem;
            }
            .pergunta, .resposta {
                padding: 1em 3em;

            }
        }
        @media screen and (min-width:600px) {
            main .nav {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
            }
            main .nav a {
                width: 49%;
                margin-top: .5em;
                display: inline;
            }
        }
        @media screen and (min-width:800px) {
            .can-pic {
                width: 150px;
                height: 150px;
            }
            .flex {
                display: flex;
                margin-bottom: 2em;
                position: relative;
            }
            .info-bio {
                font-size: 1.2em;
                margin: 0;
                width: 100%;
            }
            .info-basica {
                font-size: 1.2em;
                width: 40ch;
                margin: 0 3em 0 0;
                box-sizing: border-box;
            }
            .info-basica:after, #votar:before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                background-color: #532985;
                height: .5em;
                z-index: -1;
            }            
            .info-basica:after {
                bottom: 5em;
            }            
            #votar {
                float: right;
                position: initial;
                display: inline-block;
            }            
            #votar:before {
                bottom: 1.8em;
            }
            .avaliacao {
                position: absolute;
                bottom: 1em;
            }
            .avaliacao>span {
                margin-right: 1em;
            }
            .legenda {
                margin-top: 2em;
            }
        }
        @media screen and (min-width:992px) {
            .partido span {
                display: inline-block;
            }
            .partido {
                width: 30%;
                text-align: right;
            }
            .nota {
                background-color: #d8b212;
                font-size: .6em;
                padding: 0.4em 1em .2em 1em;
                border-radius: .4em;
                margin-left: 1em;
            }
        }
        @media screen and (min-width:1200px) {
            .partido {
                width: 25%;
            }
            .puxar h2,.puxar h5 {
                display: inline;
            }
        }
    </style>
<% end %>

<% content_for :menu_items do %>
    <div class="nav-item">
        <%= link_to "Saiba mais", about_path, {class: "nav-link"} %>
    </div>
    <div class="nav-item">
        <%= link_to "Contato", contact_path, {class: "nav-link"} %>
    </div>
<% end %>

<% content_for :menu_logged do %>
    <% if session[:candidate_id] %>
        <li><a href="<%= edit_candidate_path(@current_user.id) %>" class="dropdown-item">Perfil no #MeRepresenta</a></li>
    <% elsif session[:user_id] %>
        <li><%= link_to "Perfil", edit_user_path(session[:user_id]), {class: "dropdown-item"} %>
        <li><%= link_to "Refazer questionário", new_answer_path, {class: "dropdown-item"} %>
    <% end %>
<% end %>

<% content_for :main do %>
<% 
   require 'uri'
%>
<div class="container">    
    <div class="flex">
        <div class="info-basica">        
            <img class="can-pic" src="<%= @candidate.picture %>?type=large" alt="Foto do/a candidato/a">
            <span class="info-text name">
                <%= @candidate.nickname %>
            </span>
            <span class="info-text number">
                nº <span class="candidate-number"><%= @candidate.number %></span>
            </span>
            <span class="info-text party">
                Partido: <%= @candidate.party.symbol %>
            </span>
            <% if @candidate.party_union and @candidate.party_union.parties.count > 1 %>
            <span class="info-text coligacao">
                Coligação: <%= @candidate.party_union.name %>
            </span>
            <span class="info-text score">
                Nota da Coligação: <%= (@candidate.party_union.score * 10.0).round 2 %>
            </span>
            <% else %><br>
            <% end %>
            <span class="votes-int">
                <%= User.where("users.candidate_id = #{@candidate.id}" ).count %> intenções de voto
            </span>
        </div>
        <div class="info-bio">
            <div class="bio">
                <h3>Sobre o/a candidato/a</h3>
                <textarea readonly rows="11" cols="40">
                    <%= @candidate.bio %>
                </textarea>
            </div>
            <% if ! session[:candidate_id] and  session[:user_id] %>
                <% if @candidate.id != @current_user.candidate_id %>
                    <%= form_for @current_user do |f| %>
                        <%= f.hidden_field :candidate_id, value: @candidate.id %>
                        <input type="hidden" name="redirect_to" value="<%= candidate_path(@candidate.id)%>">
                        <button type="submit" id="votar" class="btn btn-amarelo-roxo">
                            Quero escolher essa candidatura
                        </button>
                    <% end %>
                <% end %>
            <% end %>
            
        </div>
    </div>
       
    <div class="puxar">
        <div class="title">
            <h3>Atenção às coligações!</h3>
            <h5>Os votos nesse/a candidato/a vão para todos os partidos de sua coligação e podem acabar elegendo alguém em quem você não votaria. Veja como avaliamos cada partido dessa coligação em relação às pautas dos direitos humanos e exemplos de quem pode se beneficiar dos votos que essa candidatura receber.</h5>
        </div>

        <table class="brother">
            <tbody>
                <% @candidate.gang.each do |brother| %>
                <tr>
                    <td class="candidato">
                        <%= brother.nickname %>                            
                    </td>
                    <td class="partido">
                        <span class="partido"><%= brother.party.symbol %></span>
                        <a href="<%= criteria_path %>">
                            <span class="nota">nota do partido = <%= (10 * brother.party.score).round %></span>
                        </a>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>

    <div class="respostas">
        <h2>Veja o que o/a candidato/a respondeu</h2>

        <table>
            <tbody>
                <% @candidate.answers.sort{|a, b| a.question_id - b.question.id}.each do |answer| %>
                    <%  
                        if session[:user_id]
                            resposta_eleitor = @current_user.answers.select{|a| a.question_id == answer.question_id}
                            classe = ""
                            if resposta_eleitor.count > 0
                                resposta_eleitor = resposta_eleitor[0]
                                if not session[:candidate_id]
                                    if answer.short_answer == "Não"
                                        classe = "perigo"
                                    end
                                end
                            end
                        end
                    %>
                    <tr>
                        <td class="pergunta <%= classe %>"><%= answer.question.text %></td>
                        <td class="resposta <%= classe %>"><%= answer.short_answer %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>

    <% if ( not session[:candidate_id] ) and session[:user_id]%>
    <div class="nav">   
        <a href="<%= user_matchup_path(@current_user) %>" class="btn btn-roxo-amarelo" id="btn-voltar"><span>Voltar aos candidatos</span></a>
        <a href="https://www.facebook.com/dialog/share?app_id=<%= URI.encode ENV['FB_ID'] %>&display=page&href=<%= URI.encode candidate_url(@candidate) %>&redirect_uri=<%= URI.encode candidate_url(@candidate) %>" class="btn btn-roxo-amarelo" id="btn-compartilhar"><span>Compartilhe sua escolha!</span></a>
    </div>
    <% end %>
</div>

<% end %>

<% content_for :scripts do %>
    <style type="text/css">
        .share-it {
            width: 87.5%;
            position: fixed;
            top: 20%;
            z-index: 2;
            background-color: aliceblue;
            border: 1px double gray;
            left: 6.25%;
            animation-duration: 2s;
            animation-name: treme;
        }
        .share-it h4 {
            font-size: 1.1em;
            font-family: ProximaNovaSoft-Bold;
            background-color: #532985;
            color: #d8b212;
            padding: .4em .4em .4em .85em;
        }
        .share-it p {
            margin: 0;
            padding: 0 1em 1em 1em;
        }
        .share-it>h4>a {
            position: absolute;
            right: .5em;
            color: transparent;
        }
        .share-it>h4>a:after {
            content: "X";
            position: absolute;
            right: .5em;
            color: red;
        }
        @keyframes treme {
          from {
            transform: rotate(0deg);
          }
          5% {
            transform: rotate(2deg);
          }
          10% {
            transform: rotate(-2deg);
          }
          15% {
            transform: rotate(2deg);
          }
          20% {
            transform: rotate(-2deg);
          }
          25% {
            transform: rotate(2deg);
          }
          30% {
            transform: rotate(-2deg);
          }
          35% {
            transform: rotate(2deg);
          }
          40% {
            transform: rotate(-2deg);
          }
          45% {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(0deg);
          }
        } 
        @media screen and (min-width: 650px) {
            .share-it {
                width: 550px;
                left: calc( ( 100% - 550px ) / 2 );
            }
        }
    </style>
    <div class="share-it invisivel">
        <h4>Ei, psiu !!! <a href="#">fechar</a></h4>
        <p>Essa plataforma te representa? <a href="https://www.facebook.com/dialog/share?app_id=<%= URI.encode ENV['FB_ID'] %>&display=page&href=<%= URI.encode root_url %>&redirect_uri=<%= URI.encode candidate_url(@candidate) %>">Compartilhe</a> no seu facebook e ajude outras pessoas a encontrarem candidaturas pró-direitos humanos no Brasil :)</p>
    </div>
    <script type="text/javascript">
        (function() {
            window.setTimeout(function(){
                $(".share-it").removeClass("invisivel");
            }, 10000);
            $(".share-it>h4>a").on("click", function(){
                $(".share-it").addClass("invisivel");
            })
        })();
    </script>
<% end %>