!!!
%html
  %head
    %title Carioca Pergunta
    %meta{ :name => :description, :content => ""}
    %meta{ :name => :keywords, :content => ""}
    %meta{ :name => :author, :content => ""}
    = stylesheet_link_tag "https://s3.amazonaws.com/meu-rio-production/assets/webfonts/fonts.css"
    = stylesheet_link_tag :application

  %body
    .wrapper.header
      %header
        = image_tag "bg_meu_rio.png", :title => "Meu Rio"
        %span apresenta:
    .wrapper.content
      = yield

    = javascript_include_tag :application
