!!!
%html
  %head
    %title MeuRio - Verdade ou Consequência?
    %meta{ :name => :description, :content => "Lembra como era bom jogar Verdade ou Consequência? Agora, você pode jogar com os candidatos a vereador!"}
    %meta{ :name => :keywords, :content => "Candidatura, Vereador, Câmara, Rio de Janeiro, Meu Rio"}
    %meta{ :name => :author, :content => "MeuRio - contato@meurio.org"}
    = stylesheet_link_tag :application
    = stylesheet_link_tag "https://s3.amazonaws.com/meu-rio-production/assets/webfonts/fonts.css"
  %body
    .wrapper.header
      %header
        = image_tag "bg_meu_rio.png", :title => "Meu Rio"
        %span apresenta:
    .wrapper.content
      = yield
    .wrapper.footer
      %footer
        %nav.links
          = link_to "Quem somos?", ""
          %span.marker
          = link_to "Contate-nos", ""
    = javascript_include_tag :application
